
name: kc-fundamentals-lab3-2
services:

  nginx:
    image: nginx:latest
    ports:
      - "8081:80"
    volumes:
      - ./html:/usr/share/nginx/html
    networks:
      - backend
    restart: always

  keycloak:
    image: quay.io/keycloak/keycloak:26.3.3
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_LOG_LEVEL: INFO
    volumes:
      - keycloak-data:/opt/keycloak/data:z
    ports:
      - "8080:8080"
    networks:
      - backend
    command:
      - "--verbose"
      - "start-dev"
networks:
  backend:

volumes:
  keycloak-data: